[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "themes/pelican-images"]
	path = themes/pelican-images
	url = git@github.com:zappala/pelican-images.git
